<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Osteosarcoma Detection tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}" >
</head>
<body>
    <div class = main
                ondragover="overrideDef(event);"
                ondragenter="overrideDef(event);"
                ondragleave="overrideDef(event);"
                ondrop="overrideDef(event);">
    <h1 class = topic>Osteosarcoma Detection Tool Using Histopathology image</h1>
    <div class = "imageUploadMain">
       <form method="POST" action="/result" enctype="multipart/form-data" class=" form" id = upload>
            <div class = "uploadInput">
                <div class = "selectImage">
                <label
                ondragover="overrideDef(event);classAdd();"
                ondragenter="overrideDef(event);classAdd();"
                ondragleave="overrideDef(event);classRemove();"
                ondrop="overrideDef(event);addFile(event);classRemove();">
                    <div class = "imageInputArea">
                         <img src="{{ url_for('static', filename = 'uploadIcon.png') }}" id="inputImage"
                              height="100px" width="100px">
                        <p>Select Image or Drag it Here</p>
                    </div>
                    <input type="file" name="image" id="image">
                </label>

                </div>

            </div>
       </form>
    </div>
        {% if pred %}
        <div class = result>
            <img class="imageOut" src="{{ url_for('static',filename = img) }}" height="300" width="300">
            <h1 class = "resultText">The image resulted in "{{ typeOsteo }}".</h1>
        </div>
        {% else %}
            <div class = "warning">
                <p class="warning_para">{{ warning }}</p>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        document.getElementsByName("image")[0].addEventListener('change',formAutoSubmit);
        fileInput = document.querySelector('input');
        function formAutoSubmit() {
            var frm = document.getElementById("upload");
            frm.submit();

        }

        function overrideDef(event){
            event.preventDefault();
            event.stopPropagation();
        }

        function addFile(event){
             fileInput.files = event.dataTransfer.files;
             console.log(fileInput.files);
             formAutoSubmit();
        }
        function classAdd(){
            opacity = document.getElementsByClassName("selectImage")[0];
            opacity.classList.add("opInc");
        }
        function classRemove(){
            opacity = document.getElementsByClassName("selectImage")[0];
            opacity.classList.remove("opInc");
        }

    </script>


</body>
</html>