<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Osteosarcoma Detection tool</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}" >
</head>
<body>
    <div class = main>
    <h1 class = topic>Osteosarcoma Detection Tool Using Histopathology image</h1>
    <div class = "imageUploadMain">
       <form method="POST" action="/result" enctype="multipart/form-data" class=" form" id = upload>
            <div class = "uploadInput">
                <div class = "selectImage">
                <label>
                    <div class = "imageInputArea">Select Image<br>
                         <img src="{{ url_for('static', filename = 'uploadIcon.png') }}" id="inputImage"
                              height="100px" width="100px">
                    </div>
                    <input type="file" name="image" id="image">
                </label>

                </div>

            </div>
       </form>
    </div>
        {% if pred %}
        <div class = result>
            <img class="imageOut" src="{{ url_for('static',filename = img) }}" height="300" width="300">
            <h1 class = "resultText">{{ typeOsteo }}</h1>
        </div>
        {% else %}
            <div class = "warning">
                <p class="warning_para">{{ warning }}</p>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        document.getElementsByName("image")[0].addEventListener('change',formAutoSubmit);
        function formAutoSubmit() {
            var frm = document.getElementById("upload");
            frm.submit();
        }
    </script>


</body>
</html>